*{
  margin: 0px;
  padding: 0px;
 
}
.head{
  text-align: center;
  color: white;
  background-image: url(BG.jpg);
  padding: 25px;
  border-bottom: 2px solid black;
}

.tablist{
  width: 100%;
  background-color:#fcb92d;
  border-bottom: 1px solid black;
  text-align: center;
}
.tab{
display: inline-block;
padding: 8px;
font: bold;
background-color:#c45135;
margin-top: 4px;
border-top: 1px solid black;
border-right: 2px solid black;
border-top-right-radius: 18px;
}

.tab:hover{
  cursor: pointer;
  background-color:darkgrey;
}


.nameHeading{
  background-color: #c45135;
  font-size: 18px;
  float:left;
  width: 50%;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 1px solid darkgrey;
}
.priceHeading{
  background-color: #c45135;
  font-size: 18px;
  float:right;
  width: 50%;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 1px solid darkgrey;
}


.panel{
  background-image: url(BG.jpg);
  overflow: scroll;
  text-align: center;
  border: 2px solid blue;
}

.name{
  font-size: 15px;
  float:left;
  width: 50%;
  padding-top: 10px;
}

.price{
  font-size: 15px;
  float:right;
  width: 50%;
  padding-top: 10px;
}